*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightslategray;
}

.container{
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 1000px;
}

h1{
    color: white;
    font-size: 4rem;
    text-align: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 1rem;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.cell3{
    background-color:white;
}

.cell5{
    background-color: maroon;
}

.cell15{
    background-color: salmon;
}